@model List<Hands.Data.HandsDB.AccessMenubyRoleIdReturnModel>
@{
    ViewBag.Title = "LeftMenu";
    Layout = null;
}

<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
    @*<div>
        <img src="~/Content/Images/user-bg.jpg" style="width: 100%; height: 150px;" />
    </div>*@
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">

            @foreach (var item in Model.Where(x => x.ParentId == 1))
            {
                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                    @if (item.menuId == 2)
                    {
                    <li class="m-menu__item " aria-haspopup="true"><a href="~/@item.Controller/@item.Action" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-layers"><span></span></i><span class="m-menu__link-text">@item.Tittle</span></a></li>
                    
                        @*<a href="/@item.Controller/@item.Action" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-layers"></i><span class="m-menu__link-text">@item.Tittle</span><i class="m-menu__ver-arrow la la-angle-right"></i></a>*@

                    }
                    else
                    {
                        <a href="javascript:;" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-layers"></i><span class="m-menu__link-text">@item.Tittle</span><i class="m-menu__ver-arrow la la-angle-right"></i></a>
                    }
                   
                    <div class="m-menu__submenu ">
                        <span class="m-menu__arrow"></span>
                        <ul class="m-menu__subnav">
                            @foreach (var listitems in Model.Where(x => x.ParentId == item.menuId))
                            {
                                <li class="m-menu__item " aria-haspopup="true"><a href="~/@listitems.Controller/@listitems.Action" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">@listitems.Tittle</span></a></li>

                            }
                        </ul>
                    </div>
                    </li>
                }
        </ul>
    </div>

</div>