@model  IEnumerable<Hands.Data.HandsDB.GetfollowupByNamesReturnModel>
@using Hands.Common.Common
@using NonFactors.Mvc.Grid;
@{
    ViewBag.Title = "Details";

}


@*<script type="text/javascript">

        var right =
            '@(HandSession.Current.AccessList.Any(x => x.ProjectId == HandSession.Current.ProjectId && x.RoleId == HandSession.Current.RoleId && x.AccessLevelId == CommonConstant.RightLevelEnum.view.ToInt() && x.MenuId == CommonConstant.MenuList.FollowUp.ToInt()))';

        if (right === 'False') {
            window.location.href = '@Url.Action("Index","Default")';
        }
    </script>*@



<link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet" />
<style>
    .popup {
        position: fixed;
        background: #5f5f5f8c;
        width: 100%;
        padding-left: 30%;
        top: 0;
        padding-top: 21%;
        height: 274%;
        z-index: 10000000000000;
    }

    .table-hover tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.075);
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .widget-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        align-items: center;
        padding: 8px 12px;
        color: #080808;
        font-size: 16px;
        display: flex;
    }

    .mvc-grid-filter::before {
        color: #f4516c !important;
    }

    .abc {
        width: 12%;
        text-align: center;
        background: #f0efff !important;
    }

    *::before, *::after {
        box-sizing: border-box;
    }

    .test {
        width: 100%
    }

    .titlehead {
        font-size: 25px;
        color: #676767;
    }

    .filterable {
        background: #f0efff !important;
        color: #74749a !important;
    }

    .btn {
        padding: 4px 14px !important;
    }
</style>
<div id="resultLoadingDiv" hidden class="popup">
    <img src="~/Content/Images/abc.gif" />
    @*<img id="image" src="~/Content/Images/ajax-loader.gif"/>*@
</div>

<div id="PrjDiv">

    <div class="m-content">


        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">

                <div class="row" style="padding: 16px;">

                    <div class="m-portlet__head-text col-md-12 pull-left titlehead">Client FollowUp Form</div>


                    <div class="col-md-2">
                        @Html.ActionLink("Export CSV", "ExportIndex", "FollowUp", ViewContext.HttpContext.Request.QueryString, new { @class = "btn btn-primary top-button test" })
                    </div>
                </div>

                <div class="" style="padding: 6px;">

                    @(Html.Grid(Model).Build(columns =>
                {
                    columns.Add(c => c.created_at.ToString("MMM dd,yyyy hh:mm:ss")).Titled("Session Date & Time").Filterable(true);
                    columns.Add(c => c.lhvname).Titled("Lhv Name").Filterable(true);
                    //columns.Add(c => c.marviname).Titled("Marvi Name").Filterable(true);
                    columns.Add(c => c.mwraname).Titled("Client Name").Filterable(true);
                    columns.Add(c => c.history_irregular).Titled("History of Irregular Menstrual Cycle").Filterable(true);
                    columns.Add(c => c.lmp_date).Titled("LMP (Date)").Filterable(true);
                    columns.Add(c => c.bp).Titled("BP").Filterable(true);
                    columns.Add(c => c.weight + " Kg").Titled("Weight").Filterable(true);
                    columns.Add(c => c.jaundice).Titled("Jaundice").Filterable(true);
                    columns.Add(c => c.polar_anemia).Titled("Pallor/Anemia").Filterable(true);
                    columns.Add(c => c.foul).Titled("Foul Smelling Vaginal Discharge").Filterable(true);
                    columns.Add(c => c.pain_lower).Titled("Pain Lower Abdomen").Filterable(true);
                    columns.Add(c => c.complication).Titled("Any Complication").Filterable(true);
                    columns.Add(c => c.danger).Titled("Any Danger Sign (Mention)").Filterable(true);
                    columns.Add(c => c.advise).Titled("Advice (Mention)").Filterable(true);
                    //columns.Add(c => c.referral).Titled("Referral").Filterable(true);
                    //columns.Add(c => c.occasional).Titled("Occasional").Filterable(true);

                    columns.Add(model => Html.ActionLink("View", "View", new { sessionId = model.session_followup_id }, new { @class = "edit-button btn btn-primary top-button" })).Css("abc");
                    //columns.Add(model => Ajax.ActionLink("Delete", "Delete", "PushEvent", new { id = model.EventId }, new AjaxOptions()
                    //{
                    //    HttpMethod = "POST",
                    //    LoadingElementId = "resultLoadingDiv",
                    //    InsertionMode = InsertionMode.ReplaceWith,
                    //    UpdateTargetId = "PrjDiv",
                    //    OnBegin = "ShowProcessingMsg",
                    //    OnComplete = "HideProcessingMsg",
                    //    OnSuccess = "success"
                    //}, new { @class = "delete-button btn btn-danger top-button deleteBtn" })).Css("abc");
                })
                                                  .Css("css-classes") // Overwrites all classes with the new ones
                                                        .AppendCss("table-hover") // Appends classes to the current ones
                                                        .Pageable(pager =>
                                                        {
                                                            pager.PageSizes = new Dictionary<int, string>()
                                                                                                                      {
                                                                                                                              {0, "All"},
                                                                                                                              {10, "10"},
                                                                                                                              {20, "20"},
                                                                                                                              {50, "50"},
                                                                                                                              {100, "100"}
                                                                                                                      };


                                                            pager.ShowPageSizes = true;
                                                            pager.PagesToDisplay = 10;
                                                            pager.RowsPerPage = 10;
                                                        })
                                                        .WithFilterMode(GridFilterMode.FilterRow)
                                                        .Empty("No data found")
                                                        .Filterable()
                    )

                </div>

            </div>
            <!--end::Portlet-->
        </div>





    </div>
</div>

